<div class="images-wrapper">
  <div
    class="image"
    v-for="(image, imageIndex) in items"
    :key="imageIndex"
    @click="index = imageIndex"
    :style="{ backgroundImage: 'url(' + image + ')' }"
  ></div>
</div>
