<template>
  <!--項目-大綱-->
  <div class="todo-info d-flex align-items-center">
    <div class="ico p-3">
      <span class="icon-ico-checkbox"></span>
      <input class="hide" type="checkbox" />
    </div>
    <div class="py-3 font-weight-bold">{{ todos.message }}</div>
    <div class="fire p-3 ml-auto is-important">
      <div class="d-flex flex-column">
        <span class="icon-ico-fire"></span>
        <span class="text-fire">重要</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoItem',
  props: {
    todos: Object
  },
};
</script>
