<template v-if="todos">
  <!--項目-內容編輯-->
  <div class="todo-edit pb-4">
    <!-- 日期 -->
    <div class="d-flex align-items-center">
      <div class="ico p-2">
        <span class="icon-ico-calander"></span>
      </div>
      <div class="py-2 edit-title">日期</div>
      <!--
      <div class="p-2" v-if="todos.date">
        <v-date-picker
        mode="range"
        v-model="selectedDate"
        :min-date="new Date()"
        show-caps
        />
      </div>
        -->
      <div class="p-2">{{ todos.date }}</div>
    </div>

    <!-- 檔案 -->
    <div class="d-flex align-items-center">
      <div class="ico p-2">
        <span class="icon-ico-file"></span>
      </div>
      <div class="py-2 edit-title">檔案</div>
      <div class="p-2" v-if="todos.file == ''">尚未上傳檔案</div>
      <div class="p-2" v-if="todos.file">
        <a :href="todos.file" target="_blank">
          <img
            style="height: 50px;"
            class="rounded img-fluid"
            :src="todos.file"
          />
        </a>
      </div>
    </div>

    <!-- 備註 -->
    <div class="d-flex align-items-start">
      <div class="ico p-2">
        <span class="icon-ico-comment"></span>
      </div>
      <div class="py-2 edit-title">備註</div>
      <div class="p-2 w-100">
        <textarea
          class="todo-comment"
          placeholder="輸入文字..."
          v-model="todos.comment"
        ></textarea>
      </div>
    </div>

    <!-- 動作 -->
    <div class="row text-center">
      <div class="col"></div>

      <div class="col" @click="todosUpdate">
        <span class="icon-ico-check"></span>
        <br />
        <span>完成</span>
      </div>

      <div class="col">
        <span class="icon-ico-x"></span>
        <br />
        <span>取消</span>
      </div>

      <div class="col">
        <span class="icon-ico-trash"></span>
        <br />
        <span>刪除</span>
      </div>

      <div class="col"></div>
    </div>
  </div>
</template>

<script>
// import VCalendar from 'v-calendar';

// Use v-calendar & v-date-picker components
// Vue.use(VCalendar, {
//   componentPrefix: 'vc',
// });

export default {
  data() {
    return {
      todosCache: {
        message: '',
        date: '',
        timestamp: '',
        comment: '',
        id: Number,
        completed: false,
        file: '',
      },
      date: '',
      file: '',
    };
  },
  name: 'TodoItemEdit',
  props: {
    todos: Object,
  },
  created: function () {
    var vm = this;
    var cacheId = new Date('2012-06-08').getTime();
    vm.$data.todosCache.id = cacheId;
  },
  methods: {
    todosUpdate() {
      // const vm = this;
      // const todosCache = vm.todosCache;
      // const api = 'http://localhost:5000/todos';
      // console.log(todosCache);
      // Vue.axios.post(api, todosCache).then(function (res) {
      //   console.log(res);
      // });

      this.$emit();
    },
  },
};
</script>
