html,body {
  // For Edge
  height: 100%;
  // WebKit-based browsers will ignore this
  height: -moz-available;
  // Mozilla-based browsers will ignore this.
  height: -webkit-fill-available;  
  // For WebKit-based browsers, Edge not support this
  height: fill-available;
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
}

.todo {
  height: inherit;
  color: #737373;
  max-width: 550px;
  margin: 0 auto;
  background: #fff;
  position: relative;

  a {
    color: $gold;
  }
  
  /*中間*/
  .content {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: #333;
  }
  /* footer */
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.todo-input {
  input {
    border: 0;
    border-bottom: 1px solid #b2b2b2;
    border-radius: 0;
    text-indent: 5px;
    background-color: transparent;
    width: 100%;
    height: 60px;
  }
}

/* todo列表 */
.todo-items {

  .ico {
    min-width: 65px; // 整體ico調整等寬
    font-size: 25px;
    text-align: center;
  }

  .fire {
    text-align: center;

    &.is-important {
      color: $gold;
    }

    /* 火焰重要 */
    .icon-ico-fire {
      margin-bottom: 2px;
      text-align: center;
    }

    .text-fire {
      font-size: 12px;
    }
  }
}

/* 顯示區塊 */
.todo-info {
  background: #fff;
}

/* 編輯區塊 */
.todo-edit {
  background: #f2f2f2;

  .edit-title {
    font-size: bold;
    min-width: 35px;
  }
  .todo-comment {
    height: 110px;
    width: 100%;
    overflow: auto;
    background: transparent;
    border: 0;
    color: #747474;
    padding: 0;
    resize: none;
  }
}

/* 下方導覽列 */
.todo-tabs {
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  border-top: solid 1px #efefef;
  background: #fff;
  height: 50px;
  line-height: 50px;
}
.todo-tab {
  margin-top: -1px;
  color: #747474;
  font-size: 16px;
}
a.todo-tab:hover,
a.todo-tab:active,
a.todo-tab.active {
  color: $gold !important;
}
.todo-tab-underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 2px;
  background: $gold;
  will-change: left, width;
  -webkit-transition: left 0.2s, width 0.2s;
  transition: left 0.2s, width 0.2s;
}
