<body>
  <H1>玩家簡介</H1>
  <img class="myClass" data-name="player">
  <H1>人頭說明</H1>
  <ul>
    <li>👶</li>
    <li>🧒</li>
    <li>👦</li>
    <li>👩</li>
  </ul>
  <section>
    放上背景
    <img class="myClass" data-name="background">
  </section>
  <div class="slider">
    <img class="myClass" data-name="ad">
  </div>
  ...現實中的img是穿插在各樣地方的
</body>