<template>
  <div>
    <h1>Product List</h1>
    <img v-if="loading" src="@/images/loading.gif" alt />
    <ul>
      <li v-for="(product, productIndex) in products" :key="productIndex">
        {{ product.title }} - {{ product.price }} : {{ product.inventory}}
        <button @click="addProductToCart(product)">add to cart</button>
      </li>
    </ul>
    {{cart}}
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
    }
  },
  computed: {
    products() {
      // return this.$store.state.products;
      return this.$store.getters.availableProducts
    },
    cart() {
      return this.$store.state.cart
    },
  },
  created() {
    // this.$store.dispatch
    this.loading = true
    this.$store.dispatch('fetchProducts').then(() => (this.loading = false))
  },
  methods: {
    addProductToCart(product) {
      this.$store.dispatch('addProductToCart', product)
    },
  },
}
</script>
