<template>
  <div id="app">
    COOLLIGHTBOX
    <CoolLightBox :items="items" :index="index" @close="index = null">
    </CoolLightBox>


    <div class="todo container-fluid p-0">
      <header class="header">
        <div class="todo-input d-flex">
          <input
            placeholder="添加計畫..."
            class="p-3"
            v-model="message"
            @click="isNewTodo = true"
          />
        </div>.
      </header>

      <section class="content">
        <div class="todo-items">
          <div class="todo-item">
            <todo-item-edit :todos="todos"></todo-item-edit>
          </div>

          <div class="todo-item" v-for="todos in todos" :key="todos.id">
            <!--todo-item 標題-->
            <todo-item :todos="todos"></todo-item>
            <!--todo-item 內容-->"
            <todo-item-edit :todos="todos"></todo-item-edit>
          </div>
        </div>
      </section>

      <footer class="footer safari-only">
        <div class="todo-tabs">
          <div class="row">
            <div class="todo-tab-underline"></div>
            <a class="todo-tab col p-0">列表</a>
            <a class="todo-tab col p-0">未完成</a>
            <a class="todo-tab col p-0">已完成</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import CoolLightBox from 'vue-cool-lightbox';
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css';
import TodoItem from './components/TodoItem.vue';
import TodoItemEdit from './components/TodoItemEdit.vue';

export default {
  name: 'App',
  components: {
    // NewTodoItem,
    TodoItem,
    TodoItemEdit,
    CoolLightBox,
  },

  data() {
    return {
      items: [
        'https://cosmos-images2.imgix.net/file/spina/photo/20565/191010_nature.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=835',
        'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/nature-quotes-1557340276.jpg?crop=0.666xw:1.00xh;0.168xw,0&resize=640:*',
      ],
      index: null,
      todos: [
        {
          message: 'xxx',
          date: '2020-05-10',
          timestamp: '',
          comment: '每天DailyUI都會寄課題到信箱',
          id: 1,
          completed: false,
          file: 'http://day-design.net/images/bg/art.jpg',
        },
      ],
      sort: [],
      isNewTodo: false,
      message: '',
    };
  },
  methods: {
    getData() {
      const vm = this;
      const api = 'http://localhost:5000/todos';
      const sortApi = 'http://localhost:5000/sort';
      // let todos = []
      vm.todos = []; //清空
      vm.sort = []; //清空

      this.axios.get(api).then((res) => {
        console.log(res);
        vm.todos = res.data;
      });

      this.axios.get(sortApi).then((res) => {
        console.log(res);
        vm.sort = res.data;
      });
    },
    updateImages() {
      const vm = this;
      vm.items = [];
      vm.todos.forEach((x) => {
        vm.items.push(x.file);
      });
    },
  },
  created: function () {
    const vm = this;
    vm.getData(); //取資料
    vm.updateImages(); //更新images.url
  },
};
</script>

<style lang="scss">
@import '@/scss/style.scss';

#app {
  background: #eee;
  // For Edge
  height: 100%;
  // WebKit-based browsers will ignore this
  height: -moz-available;
  // Mozilla-based browsers will ignore this.
  height: -webkit-fill-available;
  // For WebKit-based browsers, Edge not support this
  height: fill-available;
}
</style>
