@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r0pdxn');
  src:  url('fonts/icomoon.eot?r0pdxn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r0pdxn') format('truetype'),
    url('fonts/icomoon.woff?r0pdxn') format('woff'),
    url('fonts/icomoon.svg?r0pdxn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-calander:before {
  content: "\e900";
  color: #747474;
}
.icon-ico-check:before {
  content: "\e901";
  color: #747474;
}
.icon-ico-checkbox:before {
  content: "\e902";
  color: #747474;
}
.icon-ico-file:before {
  content: "\e903";
  color: #747474;
}
.icon-ico-fire:before {
  content: "\e904";
  color: #d4b478;
}
.icon-ico-trash:before {
  content: "\e905";
  color: #747474;
}
.icon-ico-x:before {
  content: "\e906";
  color: #747474;
}
.icon-ico-command:before {
  content: "\e907";
  color: #747474;
}
