.orange {
  color: var(--orange);
}


/* range slider */
input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden; /* 限定範圍 */
  height: 2rem;
  outline: none; /* 避免點選會有藍線或虛線 */
  background: none;
}


input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;/*清除默认样式*/
    height:1.5rem;/*设置滑块高度*/
    width:1.5rem;/*设置滑块宽度*/
    background:#ffa768;/*设置背景色*/
    border-radius:10rem 10rem;/*加个圆角边*/
    margin-top:-0.3rem;/*使用position的话会导致滑块不滑动,但是绑定的value是改变的,所以这里使用margin-top去做定位*/
}
input[type=range]::-webkit-slider-runnable-track{
    border-radius: 30px; 
    background:#dce1ff;
    height:15px;
}